@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin:0;
}

body {
  font-size: 1.6rem;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  
}

ul {
  list-style-type: none;
}



