.header {
    background-color: #E7F8D8;
    padding:1rem;
}

.logo {
    height:100px;
    width: 100px;
    padding-left: 30px;
    
}
 .nav-list {
     display: flex;
     justify-content: space-around;
     width:30%;
     padding: 1rem;
 }

 .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
 
 }
 .nav-item {
     padding-right: 1rem;
     font-size: 1.6rem;
     text-transform: uppercase;
     letter-spacing: 0.3rem;
     font-weight:bold;
 }

 .nav-item:hover {
     transform: scale(1.3);
     transition-duration: 0.3s;
     
 }

 .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
 }

 .burger {
     display:none;
     cursor: pointer;
 }



 @media screen and (max-width:1024px){
    .nav-list {
        display: flex;
        justify-content: space-around;
        width:50%;
    }
 }

 @media screen and (max-width:768px){
     body{
         overflow-x: hidden;
     }
     .nav-list {
         position: absolute;
         right:0px;
         height: calc(92vh - 150px);
         top:100px;
         background-color: #E7F8D8;
         display: flex;
         flex-direction: column;
         align-items:center;
         width:50%;
         transform: translateX(100%);
         transition: transform 0.5s ease-in;
     }
     .nav-list li {
        opacity: 0;
     }
     .burger {
         display:block;
     }
 }

 .nav-active {
     transform: translateY(0%);
 }