

$section-padding: 3rem 1.5rem;
$primary: #ddebe8;;
$family-primary: "Abel";
$box-background-color: $primary;
$navbar-background-color:$primary;


@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import '../../node_modules/bulma/bulma.sass';


